@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  @apply h-full bg-v-gray-900;
}

#app {
  background: rgb(0, 180, 216);
  background: radial-gradient(
    circle,
    rgba(0, 180, 216, 0.2) 0%,
    rgba(19, 20, 23, 1) 69%
  );
}

/* box-sizing fix */
*,
*::before,
*::after {
  @apply box-border;
}
